@charset "utf-8";
.font {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.headings {
    color: #116035;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}
.headings2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;
}
.center_head_logo {
    display: block;
	margin-left: auto;
	margin-right: auto;
}
#navbar {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    height: 30(value);
    font-size: 18px;
    background-color: #116035;
    color: #000000;
}
#navbar ul {
    list-style-type: none;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}


#navbar ul li {
    display: inline;
}

#navbar ul li a {
    clear: none;
    float: none;
    padding-right: 15px;
    padding-left: 15px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color: #FDFDFD;
}

#navbar ul li a:hover {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color: #B8B8B8;
}
/* Form Button Styles */
div#buttons {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
